/*Importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

:root {
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /*Font size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /*border radius*/
    --border-radius: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*site max width*/
    --site-max-width: 1300px;
}

/*styling for whole site */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

img {
    display: block;
    width: 100%;
}   

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

/* navbar styling */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--primary-color);
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 1rem;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    display: flex;
}
.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.hero-section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--white-color);
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .sub-title {
    
}